#Can_bonk_list{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.TargetUser{
    top:10px;
    color: black;
    width: 170px;
    height: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TargetUser h5{
    font-size: 15px;
}
.BonkPerparPage{
    height: 460px;
}

.user-avatar .arrow{
    display: none;
    width: 70px;
    height: 13px;
    border-radius: 0; 
    border: none; 
    object-fit: initial;
    cursor: default;
    box-shadow:none; 
    transition: none;
}
.run_area{
    position: relative;
    height: 300px;
    width: 700px;
}
.doges {
    position: absolute;
    width: 90px;
    height: 100px;
}



